.meninos {
  width: 150px;
  height: 250px;
  border-radius: 15px;
  object-fit: cover;
  margin: 10px;
}

.larga {
  width: 300px;

body {
  background-color: #008B8B;
}

header {
  text-align: center;
  display: block; 
  height: auto;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
}

#vídeo-orochinho iframe {
  width: 560px;
  height: 315px;
}

#pedro {
  float: right;
  margin-left: 10px;
}

#doa {
  float: left;
  margin-right: 10px;
}

section#imagens {
  text-align: center;
  clear: both;
}
