#foto {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

#foto2 {
  width: 500px;
  height: 200px;
  object-fit: cover;
}

body {
  background-color: #008B8B;
}

img#foto2 {
  float: right;
}

header {
  text-align: center;
  display: block; 
  height: auto;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
}

#vídeo-orochinho iframe {
  width: 100%;
  height: 315px;
}
