
    #foto {
      width: 200px;
      height: 200px;
      object-fit: cover;
    }
	#foto2 {

	width: 500px;
      height: 200px;
      object-fit: cover;
	}

	body {

	background-color: blue;

	}

	p {
		text-align: center;
		color: white;

	}

	#vídeo-orochinho {

		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
	}


	h1 {

		text-aling: center;
	}
		
 img#foto2 { 

		float: right;

 }
